dl {
	width: 600px;
	border-style: solid;
	border-color: rgb(100,100,100);
	border-width: 2px;
}

dt {
	width: 600px;
	background-color: rgb(100,100,100);
	color: rgb(255,255,255);
}

dd {
	margin-top: 10px;
	margin-bottom: 10px;
}

td {
	width: 80px;
}
img {
	width: 1.2em;
	height: 1.2em;
}

#submit {
	margin: 0px auto;
	width: 5em;
}
